.divheader{
    width: 100%;
    // background-color: rgb(62, 183, 86);
    background-image: linear-gradient(149deg, #3b23a8, #3432bb, #3eade0);
    height: 130px;
    color: white;
    vertical-align: center;
    padding-top: 35px;
}
